<!DOCTYPE html>
<html>
<head>
  <title>PORTFOLIO TABLEAU</title>
  <link rel="icon" type="image/x-icon" href="/static/images/BAM.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/Tableau_de_Bord.css">

</head>

<body>
  <header>
    <img id="logo" src="/static/images/logo-groupe-bam.png" alt="Logo du groupe BAM">

    <button id="dropdown">

      Projet TEST

    <ul>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/1">id 1 Projet TEST A</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/2">id 2 Projet TEST B</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/3">id 3 Projet TEST C</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/4">id 4 Projet TEST D</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/5">id 5 Projet TEST E</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/6">id 6 Projet TEST F</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/7">id 7 Projet TEST G</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/8">id 8 Projet TEST H</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/9">id 9 Projet TEST I</a></li>
      <li><a href="/Tableau_de_bord_JARNOT/Projets/10">id 10 Projet TEST J</a></li>
    </ul>
    </button>

    <p id="info_projet"> 123 Rue des Champs 53000 LAVAL</p>

    <p id="nom_compte"> nom_compte</p>
    <button id="bouton_nom_compte" onclick="location.href='/logout';">x</button>

    </header>


    <div class="tableau-de_bord">
      {% if ops_projet is defined %}
        <table>
          <!-- Ligne Entêtes de colonne : Etapes -->
          <tr>
              <th>PAQUETS</th>
              {% set first_paquet = ops_projet | first %}
              {% for etape in ops_projet[first_paquet] %}
                  <th>{{ etape }}</th>
              {% endfor %}
          </tr>

          <!-- Lignes tableau -->
          {% for paquet in ops_projet %}
          <tr>
            <!-- Entête de ligne : Paquet -->
            <td>{{ paquet }}</td>

            <!-- Valeurs des cellules : opérations -->
            {% for etape in ops_projet[paquet] %}
              <td id="{{ ops_projet[paquet][etape]['id'] }}" data-statut="{{ ops_projet[paquet][etape]['statut'] }}" data-paquet="{{ paquet }}" data-etape="{{ etape }}">
                {{ ops_projet[paquet][etape]['texte'] }}
              </td>
            {% endfor %}

          </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>

  <footer>
    <div class="info_op">
      <p id="op_select">1</p>
      <p id="Etape_select">----</p>
      <p id="Paquet_select">----</p>
    </div>

    <p id="Texte_select">...</p>

    <div class="Action_user">
    <p id="Statut_select">--%</p>
      <button id="bouton_A_FAIRE">A FAIRE</button>
      <button id="bouton_EN_COURS">EN COURS</button>
      <button id="bouton_FAIT">FAIT</button>
    </div>
  </footer>

  <script src="/static/js/clic_cellule_operation.js"></script>



</body>
</html>
