<!DOCTYPE html>
<html>
<head>
  <title>PORTFOLIO TABLEAU</title>
  <link rel="icon" type="image/x-icon" href="/static/images/BAM.ico">
  <link rel="stylesheet" type="text/css" href="/static/css/Tableau_de_Bord.css">
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
  <header>
    <img id="logo" src="/static/images/logo-groupe-bam.png" alt="Logo du groupe BAM">

    <button id="dropdown">
      {% if projet is defined %}
        {{ projet['nom'] }}
      {% else %}
        PROJETS ?
      {% endif %}
      <ul>
        {% if projets is defined %}
          {% for prj in projets %}
            <li>
              <a href="/Tableau_de_bord_JARNOT/Projets/{{ prj }}">{{ prj }} - {{ projets[prj]['nom'] }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </button>

    {% if projet is defined %}
    <p id="info_projet"> {{ projet['adresse'] }} {{ projet['cp'] }} {{ projet['ville'] }}</p>
    {% endif %}

    <p id="nom_compte"> {{ name }}</p>
    <button id="bouton_nom_compte" onclick="location.href='/logout';">x</button>

    </header>


    <div class="tableau-de_bord">
      {% if ops_projet is defined %}
        <table>
          <!-- Ligne Entêtes de colonne : Etapes -->
          <tr>
              <th>PAQUETS</th>
              {% set first_paquet = ops_projet | first %}
              {% for etape in ops_projet[first_paquet] %}
                  <th>{{ etape }}</th>
              {% endfor %}
          </tr>

          <!-- Lignes tableau -->
          {% for paquet in ops_projet %}
          <tr>
            <!-- Entête de ligne : Paquet -->
            <td>{{ paquet }}</td>

            <!-- Valeurs des cellules : opérations -->
            {% for etape in ops_projet[paquet] %}
              <td id="{{ ops_projet[paquet][etape]['id'] }}" data-statut="{{ ops_projet[paquet][etape]['statut'] }}" data-paquet="{{ paquet }}" data-etape="{{ etape }}">
                {{ ops_projet[paquet][etape]['texte'] }}
              </td>
            {% endfor %}

          </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>

  <footer>
    <div class="info_op">
      <p id="op_select">---</p>
      <p id="Etape_select">----</p>
      <p id="Paquet_select">----</p>
    </div>

    <p id="Texte_select">
    {% if projet is defined %}
      Sélectionnez une tâche du projet : {{ projet['nom'] }}
    {% else %}
      Sélectionnez un projet dans le menu déroulant.
    {% endif %}
    </p>

    <div class="Action_user">
    <p id="Statut_select">--%</p>
      <button id="bouton_A_FAIRE">A FAIRE</button>
      <button id="bouton_EN_COURS">EN COURS</button>
      <button id="bouton_FAIT">FAIT</button>
    </div>
  </footer>

  <script src="/static/js/initialisation_boutons_boite_de_dialogue.js"></script>
  <script src="/static/js/clic_cellule_operation.js"></script>
  <script src="/static/js/clic_bouton_AFAIRE_ENCOURS_FAIT.js"></script>
  <script src="/static/js/TempsReel_Operation_change.js"></script>


</body>
</html>
